# ========================
# 1. Python 相關環境
# ========================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# ========================
# 2. 編輯器與 IDE 設定檔
# ========================
.idea/
.vscode/
*.swp

# ========================
# 3.敏感喔喔喔
# ========================
*.pkl
cookies.pkl
.env

# ========================
# 4. Manim 算圖暫存檔 
# ========================
**/media/
**/partial_movie_files/
**/Tex/
**/texts/

# ========================
# 5. 系統自動產生的隱藏檔
# ========================
.DS_Store
Thumbs.db